
@{
    ViewBag.Title = "InfoReader";
    Layout = null; 
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Thông tin cá nhân</title>
    <link rel="stylesheet" href="~/wwwroot/css/trangthongtin.css" />
    <link rel="icon" type="image/png" href="~/wwwroot/Images/logoCongThuong.png" />
</head>
<body>
    <header>
        <h1>Thông tin cá nhân</h1>
        <i>
            <a href="@Url.Action("ReaderHome","Home")" style="font-weight: bold; color: black">
                Trở về
            </a>
        </i>
    </header>
    @if (TempData["Notice"] != null)
    {
        <div id="Notice" style="display: flex; align-items: center; justify-content: center;
                            position: absolute; top: 20px; left: 50%; transform: translateX(-50%);
                            padding: 10px 20px; color: white; background-color: greenyellow;
                            height: auto; max-width: 90%; z-index: 1000;
                            border-radius: 5px; font-weight: bold;">
            @TempData["Notice"]
        </div>
    }
    <div class="container">
        <table>
            <tr>
                @{
                    var userId = Session["MANGUOIDUNG"];
                    var Database = new Library_Management.Models.QUANLYTHUVIENEntities();
                    var Docgia = Database.DOCGIAs.FirstOrDefault(t => t.MATHANHVIEN == userId);
                    DateTime dob;
                    bool isDate = DateTime.TryParse(Docgia.NGSINH?.ToString(), out dob);

                    var the = Database.THEBANDOCs.FirstOrDefault(t => t.MATHANHVIEN == userId);
                    DateTime db;
                    bool isDate1 = DateTime.TryParse(the.HANSUDUNG?.ToString(), out dob);
                }
                <td rowspan="4">
                    <img style="height:150px" src="~/wwwroot/Images/cat.jpg" alt="minhhoa" />
                </td>
                <td class="Title">Mã độc giả:</td>
                <td colspan="2">@userId</td>
                <td class="Title">Nghề nghiệp:</td>
                <td colspan="2">@Docgia.NGHENGHIEP</td>
            </tr>
            <tr>
                <td class="Title">Họ tên:</td>
                <td colspan="2">@Docgia.TENTV</td>
                <td class="Title">Giới tính:</td>
                <td>
                    @{
                        string gioiTinhVn = "";
                        if (Docgia.GIOITINH == "male")
                        {
                            gioiTinhVn = "Nam";
                        }
                        else if (Docgia.GIOITINH == "female")
                        {
                            gioiTinhVn = "Nữ";
                        }
                        else if (Docgia.GIOITINH == "different")
                        {
                            gioiTinhVn = "Khác";
                        }
                        else
                        {
                            gioiTinhVn = Docgia.GIOITINH;
                        }
                    }
                    @gioiTinhVn
                </td>
            </tr>
            <tr>
                <td class="Title">Ngày sinh:</td>
                <td colspan="2"> @(Docgia?.NGSINH != null ? Docgia.NGSINH.Value.ToString("dd/MM/yyyy") : "")</td>
                <td class="Title">Khóa học</td>
                <td colspan="2">@Docgia.KHOAHOC</td>
            </tr>
            <tr>
                <td class="Title">Email</td>
                <td colspan="5">@Docgia.EMAIL</td>
            </tr>
            <tr>
                <td class="Title">Địa chỉ:</td>
                <td colspan="8">@Docgia.DIACHI</td>
            </tr>
            <tr>
                <td colspan="10">
                    <h1>
                        <b>Thông tin thẻ</b>

                    </h1>
                    <hr />
                </td>
            </tr>

            <tr>
                <td class="Title">Mã số thẻ:</td>
                <td colspan="3">@the.MASOTHE</td>
                <td class="Title">Vai trò:</td>
                <td colspan="3">@Docgia.VAITRO</td>
            </tr>
            <tr>
                <td class="Title">Tình trạng thẻ:</td>
                <td colspan="3">@the.TINHTRANGTHE</td>
                <td class="Title">Hạn sử dụng:</td>
                <td colspan="3">@(isDate ? dob.ToString("dd/MM/yyyy") : "Ngày sinh không hợp lệ")</td>
            </tr>
        </table>
        <div class="button">
            <button type="button" onclick="location.href = '@Url.Action("UpdateInfoReader","Infomation")'">
                Cập nhật thông tin
            </button>
            <button type="submit" onclick="location.href = '@Url.Action("reissueCard","MembershipCard")'">
                Đăng ký cấp lại thẻ
            </button>
            @using (Html.BeginForm("renew", "MembershipCard", FormMethod.Post))
            {
                <button type="submit" onclick="location.href=''">
                    Xin gia hạn thẻ
                </button>
            }
        </div>
    </div>
    <script> setTimeout(function () {
            var alert = document.getElementById('Notice');
            if (alert) {
                alert.style.display = 'none';
            }
        }, 3000);</script>
</body>
</html>

