
@{
    ViewBag.Title = "UpdateInfoAdmin";
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/wwwroot/css/trangthongtin.css" />
    <title>Your Info</title>
</head>
<body>
    <header>
        <h1>Thông tin cá nhân</h1>
        <i>
            <a href="@Url.Action("AdminHome","Home")" style="font-weight: bold; color: black">
                Trở về
            </a>
        </i>
    </header>
    @using (Html.BeginForm("UpdateInfoAdmin", "Infomation", FormMethod.Post))
    {
        @Html.AntiForgeryToken();

        <div class="container">
            @{
                var userId = Session["MANGUOIDUNG"];
                var Database = new Library_Management.Models.QUANLYTHUVIENEntities();
                var nhanvien = Database.NHANVIENs.FirstOrDefault(t => t.MANV == userId);
                DateTime dob;
                bool isDate = DateTime.TryParse(nhanvien.NGSINH?.ToString(), out dob);
            }
            <table>
                <tr>
                    <td rowspan="4" colspan="2">
                        <img width="60%"
                             style="display: flex; justify-items: center; align-items: center"
                             src="~/wwwroot/Images/Admin.png"
                             alt="minhhoa" />
                    </td>
                    <td class="Title">Mã nhân viên</td>
                    <td colspan="2">
                        <input type="text" name="MaNhanVien" id="MaNhanVien" disabled value="@nhanvien.MANV" />
                    </td>
                </tr>
                <tr>
                    <td class="Title">Họ tên:</td>
                    <td colspan="2">
                        <input type="text" name="TENNV" id="HoTen" disabled value="@nhanvien.TENNV" />
                    </td>
                </tr>
                <tr>
                    <td class="Title">Email</td>
                    <td colspan="2">
                        <input type="email" name="EMAIL" id="Email" value="@nhanvien.EMAIL" />
                    </td>
                </tr>
                <tr>
                    <td class="Title">Giới tính:</td>
                    <td colspan="2">
                        <select name="GIOITINH" style="width: 70%">
                            <option value="male" @(nhanvien.GIOITINH == "male" ? "selected" : "")>Nam</option>
                            <option value="female" @(nhanvien.GIOITINH == "female" ? "selected" : "")>Nữ</option>
                            <option value="different" @(nhanvien.GIOITINH == "different" ? "selected" : "")>Khác</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="Title" style="width: max-content">Vai trò</td>
                    <td>
                        <input type="text" name="VAITRO" id="VaiTro" disabled value="@nhanvien.VAITRO" style="width: 50%" />
                    </td>
                    <td class="Title">Ngày sinh:</td>
                    <td colspan="2">
                        <input type="date" name="NGSINH" value="@(isDate ? dob.ToString("yyyy-MM-dd") : "")" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td class="Title">SDT</td>
                    <td colspan="2">
                        <input type="text" name="SODIENTHOAI" id="SDT" value="@nhanvien.SODIENTHOAI" />
                    </td>
                </tr>
                <tr>
                    <td class="Title">Địa chỉ:</td>
                    <td colspan="8">
                        <input type="text" name="DIACHI" id="DiaChi" value="@nhanvien.DIACHI" />
                    </td>
                </tr>
            </table>


            <div class="button">
                <button type="submit">
                    Cập nhật thông tin
                </button>
                <button style="width: 100px; background-color: gray"
                        type="button"
                        onclick="location.href = '@Url.Action("InfoAdmin","Infomation")'">
                    Hủy
                </button>
            </div>
        </div>
    }
</body>
</html>


