
@{
    ViewBag.Title = "HomePage";
    Layout = null;
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/wwwroot/CSS/MainPage.css" />
    <title>MainPage</title>
    <link rel="icon" type="image/png" href="~/wwwroot/Images/logoCongThuong.png" />
</head>
<body>
    <header>
        <div class="headerLogo">
            <div class="headerleft"><img src="~/wwwroot/Images/Logo.png" /></div>
            <div class="hederright">
                <div class="system">
                    <button type="submit" class="notice"><img src="~/wwwroot/Images/bell.png"></button>
                    <div class="Main">
                        <ul class="MenuSytem1">
                            <li>
                                <a><strong>Hệ thống</strong></a>
                                <ul class="MenuSytem2">
                                    <li>
                                        <a href="@Url.Action("InfoReader","Infomation")">Thông tin cá nhân</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ChangePassWord","Account")">Đổi mật khẩu</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Logout","Account")">Đăng xuất</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="Search">
                    <input class="searchall" type="text" placeholder="Nhập thông tin cần tìm!" /><button type="submit" class="btnSearch">
                        Tìm
                    </button>
                </div>
            </div>
        </div>
        <div class="Menu">
            <ul class="MenuLevel1">
                <li><a href="/"><strong>Trang chủ</strong></a></li>

                <li>
                    <a><strong>Giới thiệu &#x25BC;</strong></a>
                    <ul class="MenuLevel2">
                        <li><a href="">TỔNG QUAN</a></li>
                        <li><a href="">TỔ CHỨC - NHÂN SỰ</a></li>
                        <li><a href="">QUY ĐỊNH SỬ DỤNG THƯ VIỆN</a></li>
                        <li><a href="">VỊ TRÍ - THỜI GIAN</a></li>
                        <li><a href="">THƯ VIỆN HUIT</a></li>
                    </ul>
                </li>

                <li>
                    <a><strong>Dịch vụ &#x25BC;</strong></a>
                    <ul class="MenuLevel2">
                        <li><a href="@Url.Action("CardRegistration","MembershipCard")">ĐĂNG KÝ THẺ BẠN ĐỘC</a></li>
                        <li><a href="@Url.Action("InfoReader","Infomation")">GIA HẠN THẺ</a></li>
                        <li>
                            <a href="">MƯỢN TRẢ TÀI LIỆU TỰ ĐỘNG</a>
                            <ul class="MenuLevel3">
                                <li><a href="@Url.Action("BorrowDocuments","Document")">Đăng ký mượn</a></li>
                                <li><a href="">Trả tài liệu</a></li>
                                <li><a href="">Gia hạn tài liệu</a></li>
                                <li><a href="">Tra cứu lịch sử mượn</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">MƯỢN TRẢ PHÒNG HỌC</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a><strong>Tài nguyên &#x25BC;</strong></a>
                    <ul class="MenuLevel2">
                        <li><a href="">TÀI LIỆU GIẤY</a></li>
                        <li><a href="">TÀI LIỆU ĐIỆN TỬ</a></li>
                        <li><a href="">TÀI LIỆU MÔN HỌC</a></li>
                    </ul>
                </li>

                <li>
                    <a><strong>Hướng dẫn &#x25BC;</strong></a>
                    <ul class="MenuLevel2">
                        <li><a href="">HD SỬ DỤNG THƯ VIỆN</a></li>
                        <li><a href="">HD MƯỢN TÀI LIỆU</a></li>
                        <li><a href="">HD MƯỢN PHÒNG HỌC</a></li>
                        <li><a href="">HD TÌM KIẾM</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <div class="container">

        <div class="content">
            <div class="bodyleft">
                <div class="containerLeft1">
                    <strong>Tin tức sự kiện</strong><div class="contentLeft1">
                        <div class="content1">
                            <button id="btnLeft1" onclick="ChangeLeft()">&lt;</button>
                            <button id="btnRigt1" onclick="ChangeRight()">&gt;</button>
                        </div>
                        <div class="Itempicture" id="ChangeContent1">
                        </div>
                    </div>
                </div>
                <div class="containerLeft2">
                    <strong>Sách mới</strong>   <div class="contentLeft2">
                        <div class="content1">
                            <button id="btnLeft2" onclick="ChangeNewBookLeft()">&lt;</button>
                            <button id="btnRigt2" onclick="ChangeNewBookRight()">&gt;</button>
                        </div>
                        <div class="Itempicture" id="ChangeNewBook">

                        </div>

                    </div>
                </div>
            </div>
            <div class="bodycenter">
                <div class="containerCenter1">
                    <strong>Thông báo</strong><div class="contentCenter1">
                        <div class="content1">
                            <button id="btnLeft3" onclick="ChangeLefNoice()">&lt;</button>
                            <button id="btnRigt3" onclick="ChangeRightNotice()">&gt;</button>
                        </div>
                        <div class="Itempicture" id="ChangeNotice">
                        </div>
                    </div>
                </div>
                <div class="containerCenter2">
                    <strong>Tạp chỉ mới</strong><div class="contentCenter2">
                        <div class="content1">
                            <button id="btnLeft4" onclick="ChangeNewMagazineLeft()">&lt;</button>
                            <button id="btnRigt4" onclick="ChangeNewMagazineRight()">&gt;</button>
                        </div>
                        <div class="Itempicture" id="NewMagazine">
                        </div>

                    </div>
                </div>
            </div>
            <div class="containerright">
                <div class="titleRight"> Truy cập nhanh</div>
                <div class="bodyright">
                    <div class="Quick"><a href="@Url.Action("InfoReader","Infomation")">👤 Thông tin cá nhân</a></div>
                    <div class="Quick"><a href="@Url.Action("BorrowDocuments","Document")">✅ Đặt tài liệu</a></div>
                    <div class="Quick"><a href="#">⏰ Gia hạn tài liệu</a></div>
                    <div class="Quick"><a href="#">✅ Trả tài liệu</a></div>
                    <div class="Quick"><a href="#">🕑 Tra cứu lịch sử mượn</a></div>
                    <div class="Quick"><a href="#">✅ Đặt phòng học</a></div>
                    <div class="Quick"><a href="@Url.Action("CardRegistration","MembershipCard")">✅ Đăng ký thẻ thành viên</a></div>
                    <div class="Quick"><a href="#">★ Đánh giá thư viện</a></div>
                    <div class="Quick"><a href="#">🌐 Facebook</a></div>
                    <div class="Quick"><a href="#">✉ Liên hệ - Hỗ trợ</a></div>
                </div>

            </div>

        </div>

        <div class="contentSecond">
            <div class="titleRight">Liên kết</div>
            <div class="picture">
                <div class="PictureBody">
                    <img src="~/wwwroot/Images/cdcongthuong.png" alt="">
                </div>
                <div class="PictureBody">
                    <img src="~/wwwroot/Images/uth.png" alt="">
                </div>
                <div class="PictureBody">
                    <img src="~/wwwroot/Images/spkt.png" alt="">
                </div>
                <div class="PictureBody">
                    <img src="~/wwwroot/Images/tdt.jpg" alt="">
                </div>
                <div class="PictureBody">
                    <img src="~/wwwroot/Images/supham.jpg" alt="">
                </div>
                <div class="PictureBody">
                    <img src="~/wwwroot/Images/iuh.jpg" alt="">
                </div>
            </div>
        </div>
       
    </div>
  
    <footer class="footer">
        <strong>Trung tâm Thông tin - Thư viện Đại Học </strong>
        <p>
            Trường Đại Học Công Thương TP.HCM<br>
            Địa chỉ liên hệ: 140 Lê Trọng Tấn, Tân Phú, TP. Hồ Chí Minh, Việt Nam<br>
            Điện thoại: 028 3816 1673 - 137<br>
            Email: thuvien@huit.edu.vn<br>
            Hotline: 097 117 3837
        </p>

    </footer>
    <script src="~/wwwroot/JS/MainPage.js"></script>
</body>
</html>


