
@{
    ViewBag.Title = "CardRegistration";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Đăng ký tài khoản đọc giả</title>
    <link rel="stylesheet" href="~/wwwroot/css/caplaithe.css" />
    <style>
        table {
            border-spacing: 20px;
        }
    </style>

</head>
<body>
    <h1>Đăng ký cấp thẻ</h1>
    <div class="container">
        <div class="head"><b>Đăng ký cấp thẻ</b><br /></div>
        <p>Thông tin cá nhân</p>
        <hr />
        @if (TempData["Notice"] != null)
        {
            <div id="Notice" style="display: flex; align-items: center; justify-content: center;
                            position: absolute; top: 20px; left: 50%; transform: translateX(-50%);
                            padding: 10px 20px; color: white; background-color: greenyellow;
                            height: auto; max-width: 90%; z-index: 1000;
                            border-radius: 5px; font-weight: bold;">
                @TempData["Notice"]
            </div>
        }
        <div class="content">
            @using (Html.BeginForm("AddCard", "MembershipCard", FormMethod.Post))
            {

            <table>
                @{
                    var userId = Session["MANGUOIDUNG"];
                    var Database = new Library_Management.Models.QUANLYTHUVIENEntities();
                    var docgia = (from r in Database.DOCGIAs
                                  join t in Database.THEBANDOCs on r.MATHANHVIEN equals t.MATHANHVIEN
                                  where t.MATHANHVIEN == (string)userId
                                  select new Library_Management.Models.Card

                                  {
                                      MATV = r.MATHANHVIEN,
                                      HOTEN = r.TENTV,
                                      MATHE = t.MASOTHE,
                                      NGSINH = (DateTime)r.NGSINH,
                                      GIOITINH = r.GIOITINH,
                                      TINHTRANG = t.TINHTRANGTHE,
                                      EMAIL = r.EMAIL
                                      
                                  }).FirstOrDefault();
                }
                <tr>
                    <td id="dauhang">CCCD/MSSV:</td>
                    <td><input type="text" name="used" id="used" value="@docgia.MATV" /></td>
                </tr>
                <tr>
                    <td id="dauhang">Họ và tên:</td>
                    <td>
                        <input type="text" name="used" id="used" value="@docgia.HOTEN" />
                    </td>
                </tr>
                <tr>
                    <td id="dauhang">Ngày si</td>
                    <td>
                        <input type="date" name="used" id="used" value="@docgia.NGSINH.ToString("yyyy-MM-dd")" />
                    </td>
                </tr>
                <tr>
                    <td id="dauhang">Giới tính:</td>
                    <td>
                        <input type="radio" name="gender" value="male" id="gt_male" @(docgia.GIOITINH == "male" ? "checked" : "") />
                        <label for="gt_male">Nam (Male)</label>

                        <input type="radio" name="gender" value="female" id="gt_female" @(docgia.GIOITINH == "female" ? "checked" : "") />
                        <label for="gt_female">Nữ (Female)</label>

                        <input type="radio" name="gender" value="other" id="gt_other" @(docgia.GIOITINH == "other" ? "checked" : "") />
                        <label for="gt_other">Khác (Other)</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        Tình trạng/ Ngày nhận:
                        <span style="color:red">
                            @if (docgia.TINHTRANG != "Chưa cấp" || docgia.TINHTRANG != "Hoạt động")
                            {
                                @docgia.TINHTRANG
                            }
                        </span>
                    </td>
                </tr>
            </table>
            <div class="button">
                <button type="submit" @(docgia.TINHTRANG != "Chưa cấp" ? "disabled=\"disabled\"" : "")>Đăng ký thẻ</button>
                <button onclick="location.href = '@Url.Action("ReaderHome","Home")'" type="button">Thoát</button>
            </div>
            }

        </div>
        <script>
            setTimeout(function () {
                var alert = document.getElementById('Notice');
                if (alert) {
                    alert.style.display = 'none';
                }
            }, 3000);</script>
    </div>
</body>
</html>


